<section class="main__visual">
  <div class="container">
      <div class="row">
          <h2 class="col-lg-12 main__visual--text">
              サプリメントで、
              <br>
              さらに生産性を
              <br>
              高めよう。
          </h2>
      </div>
  </div>
</section>